# Reading data from a file using pandas
- What is Pandas?
- How do I read files using Pandas?

In [1]:
import pandas as pd

In [2]:
pwd

'/Users/svenvanderburg/Desktop/python-bootcamp/notebooks'

In [ ]:
# example
# pd.read_csv('/Users/svenvanderburg/Desktop/python-bootcamp/data/SN7577.tab

In [ ]:
pd.read_csv('../data/

In [14]:
# /Users/svenvanderburg/Desktop/python-bootcamp/data/SN7577.tab
df = pd.read_csv('../data/SN7577.tab', sep='\t')

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
len(df)

1286

In [7]:
df.shape

(1286, 202)

In [8]:
df.columns

Index(['Q1', 'Q2', 'Q3', 'Q4', 'Q5ai', 'Q5aii', 'Q5aiii', 'Q5aiv', 'Q5av',
       'Q5avi',
       ...
       'numhhd', 'numkid', 'numkid2', 'numkid31', 'numkid32', 'numkid33',
       'numkid34', 'numkid35', 'numkid36', 'wts'],
      dtype='object', length=202)

In [9]:
df.dtypes

Q1            int64
Q2            int64
Q3            int64
Q4            int64
Q5ai          int64
             ...
numkid33      int64
numkid34      int64
numkid35      int64
numkid36      int64
wts         float64
Length: 202, dtype: object

In [10]:
df.head()

,Q1,Q2,Q3,Q4,Q5ai,Q5aii,Q5aiii,Q5aiv,Q5av,Q5avi,...,numhhd,numkid,numkid2,numkid31,numkid32,numkid33,numkid34,numkid35,numkid36,wts
0,1,-1,1,8,0,0,0,1,0,0,...,3,11,2,0,0,0,0,1,0,1.11439
1,3,-1,1,4,0,0,0,0,0,0,...,3,11,2,0,0,0,0,1,0,2.56604
2,10,3,2,6,0,0,0,0,0,0,...,2,11,2,0,0,0,0,1,0,2.04468
3,9,-1,10,10,0,0,0,0,0,0,...,1,-1,2,0,0,0,0,1,0,1.07592
4,10,2,6,1,0,0,0,1,0,0,...,1,-1,2,0,0,0,0,1,0,1.25068

### Exercise: Reading in data using pandas

#### Pandas sep
1. What happens if you forget to specify `sep='\t'` when reading a tab delimited dataset?

#### Exercise: head and tail
1. As well as the `head()` method there is a `tail()` method. What do you think it does? Try it.
2. Both methods accept a single numeric parameter. What do you think it does? Try it.

In [11]:
df = pd.read_csv('../data/SN7577.tab')

In [12]:
df

     Q1\tQ2\tQ3\tQ4\tQ5ai\tQ5aii\tQ5aiii\tQ5aiv\tQ5av\tQ5avi\tQ5avii\tQ5aviii\tQ5aix\tQ5ax\tQ5axi\tQ5axii\tQ5axiii\tQ5axiv\tQ5axv\tQ5bi\tQ5bii\tQ5biii\tQ5biv\tQ5bv\tQ5bvi\tQ5bvii\tQ5bviii\tQ5bix\tQ5bx\tQ5bxi\tQ5bxii\tQ5bxiii\tQ5bxiv\tQ5bxv\tQ6\tQ7a\tQ7b\tQ8\tQ9\tQ10a\tQ10b\tQ10c\tQ10d\tQ11a\tQ11b\tQ12a\tQ12b\tQ13i\tQ13ii\tQ13iii\tQ13iv\tQ14\tQ15\tQ16a\tQ16b\tQ16c\tQ16d\tQ16e\tQ16f\tQ16g\tQ16h\tQ17a\tQ17b\tQ17c\tQ17d\tQ17e\tQ17f\tQ17g\tQ18ai\tQ18aii\tQ18aiii\tQ18aiv\tQ18av\tQ18avi\tQ18avii\tQ18aviii\tQ18aix\tQ18bi\tQ18bii\tQ18biii\tQ18biv\tQ18bv\tQ18bvi\tQ18bvii\tQ18bviii\tQ18bix\tQ19a\tQ19b\tQ19c\tQ19d\taccess1\taccess2\taccess3\taccess4\taccess5\taccess6\taccess7\tweb1\tweb2\tweb3\tweb4\tweb5\tweb6\tweb7\tweb8\tweb9\tweb10\tweb11\tweb12\tweb13\tweb14\tweb15\tweb16\tweb17\tweb18\tdbroad\tintten\tnetfq\tdaily1\tdaily2\tdaily3\tdaily4\tdaily5\tdaily6\tdaily7\tdaily8\tdaily9\tdaily10\tdaily11\tdaily12\tdaily13\tdaily14\tdaily15\tdaily16\tdaily17\tdaily18\tdaily19\tdaily20\tdaily21\tdaily22\tdaily23\tdaily24\tdaily25\tsunday1\tsunday2\tsunday3\tsunday4\tsunday5\tsunday6\tsunday7\tsunday8\tsunday9\tsunday10\tsunday11\tsunday12\tsunday13\tsunday14\tsunday15\tsunday16\tsunday17\tsunday18\tsunday19\tsunday20\tpress1\tpress2\tbroadsheet1\tbroadsheet2\tbroadsheet3\tpopular1\tpopular2\tpopular3\tpopular4\tpopular5\tsex\tage\tagegroups\tnumage\tclass\tsgrade\twork\tgor\tqual\tethnic\tethnicity\tparty\tcie\twrkcie\tincome\ttenure\ttennet\tlstage\tmaritl\tnumhhd\tnumkid\tnumkid2\tnumkid31\tnumkid32\tnumkid33\tnumkid34\tnumkid35\tnumkid36\twts
0     1\t-1\t1\t8\t0\t0\t0\t1\t0\t0\t0\t0\t0\t0\t0\t...
1     3\t-1\t1\t4\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t...
2     10\t3\t2\t6\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t...
3     9\t-1\t10\t10\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0...
4     10\t2\t6\t1\t0\t0\t0\t1\t0\t0\t0\t0\t0\t0\t0\t...
...                                                 ...
1281  2\t-1\t3\t6\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t...
1282  10\t10\t2\t10\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0...
1283  9\t-1\t8\t9\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t...
1284  11\t11\t1\t2\t0\t0\t0\t1\t1\t0\t0\t0\t0\t0\t0\...
1285  10\t6\t6\t6\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t...

[1286 rows x 1 columns]

In [15]:
df.head()

,Q1,Q2,Q3,Q4,Q5ai,Q5aii,Q5aiii,Q5aiv,Q5av,Q5avi,...,numhhd,numkid,numkid2,numkid31,numkid32,numkid33,numkid34,numkid35,numkid36,wts
0,1,-1,1,8,0,0,0,1,0,0,...,3,11,2,0,0,0,0,1,0,1.11439
1,3,-1,1,4,0,0,0,0,0,0,...,3,11,2,0,0,0,0,1,0,2.56604
2,10,3,2,6,0,0,0,0,0,0,...,2,11,2,0,0,0,0,1,0,2.04468
3,9,-1,10,10,0,0,0,0,0,0,...,1,-1,2,0,0,0,0,1,0,1.07592
4,10,2,6,1,0,0,0,1,0,0,...,1,-1,2,0,0,0,0,1,0,1.25068

In [16]:
df.tail()

,Q1,Q2,Q3,Q4,Q5ai,Q5aii,Q5aiii,Q5aiv,Q5av,Q5avi,...,numhhd,numkid,numkid2,numkid31,numkid32,numkid33,numkid34,numkid35,numkid36,wts
1281,2,-1,3,6,0,0,0,0,0,0,...,2,-1,2,0,0,0,0,1,0,0.85231
1282,10,10,2,10,0,0,0,0,0,0,...,1,-1,2,0,0,0,0,1,0,2.30831
1283,9,-1,8,9,0,0,0,0,0,0,...,4,2,1,1,0,0,0,0,0,2.84823
1284,11,11,1,2,0,0,0,1,1,0,...,2,-1,2,0,0,0,0,1,0,3.45887
1285,10,6,6,6,0,0,0,0,0,0,...,2,-1,2,0,0,0,0,1,0,1.94413

In [17]:
df.tail(2)

,Q1,Q2,Q3,Q4,Q5ai,Q5aii,Q5aiii,Q5aiv,Q5av,Q5avi,...,numhhd,numkid,numkid2,numkid31,numkid32,numkid33,numkid34,numkid35,numkid36,wts
1284,11,11,1,2,0,0,0,1,1,0,...,2,-1,2,0,0,0,0,1,0,3.45887
1285,10,6,6,6,0,0,0,0,0,0,...,2,-1,2,0,0,0,0,1,0,1.94413

In [18]:
df.tail(4)

,Q1,Q2,Q3,Q4,Q5ai,Q5aii,Q5aiii,Q5aiv,Q5av,Q5avi,...,numhhd,numkid,numkid2,numkid31,numkid32,numkid33,numkid34,numkid35,numkid36,wts
1282,10,10,2,10,0,0,0,0,0,0,...,1,-1,2,0,0,0,0,1,0,2.30831
1283,9,-1,8,9,0,0,0,0,0,0,...,4,2,1,1,0,0,0,0,0,2.84823
1284,11,11,1,2,0,0,0,1,1,0,...,2,-1,2,0,0,0,0,1,0,3.45887
1285,10,6,6,6,0,0,0,0,0,0,...,2,-1,2,0,0,0,0,1,0,1.94413